
  <!-- Footer -->
  <footer class="page-footer font-small pt-4 mb-0 bg-footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-5 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">{{ site.data.footer.title }}</h5>
          <p>{{ site.data.footer.description }}</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-7 mb-md-0 mb-3">
          <!--
          <ul class="navbar-nav ml-auto nav-flex-icons align-items-around justify-content-around flex-column flex-sm-row">
              <li class="nav-item mx-3">
                <a href="{{site.data.redes.facebook-almagro}}" class="nav-link waves-effect waves-light text-center">
                  <i class="fab fa-facebook fa-2x"></i>
                  <p>Almagro</p>
                </a>
              </li>
              <li class="nav-item mx-3">
                <a href="{{site.data.redes.facebook-boedo}}" class="nav-link waves-effect waves-light text-center">
                  <i class="fab fa-facebook fa-2x"></i>
                  <p>Boedo</p>
                </a>
              </li>
              <li class="nav-item mx-3">
                <a href="{{site.data.redes.instagram}}" class="nav-link waves-effect waves-light text-center">
                  <i class="fab fa-instagram fa-2x"></i>
                </a>
              </li>
              <li class="nav-item mx-2">
                  <a class="nav-link waves-effect waves-light text-center">
                    <i class="fab fa-whatsapp fa-2x"></i>
                    <p>{{site.data.redes.whatsapp}}</p>
                  </a>
                </li>
              <li class="nav-item align-items-center mx-2">
                  <a href="mailto:ejemlo@gmail.com" class="nav-link waves-effect waves-light text-center">
                    <i class="fa fa-envelope fa-2x fa-fw"></i>
                    <p>{{site.data.redes.mail}}</p>
                  </a>
                </li>
          </ul>
          -->
          <div class="container">
            <div class="row">
              <div class="col-5 col-sm-4 col-lg-3 order-4 order-sm-1">
                  <a class="nav-link waves-effect waves-light text-center">
                      <i class="fab fa-whatsapp fa-2x"></i>
                      <p>{{site.data.redes.whatsapp}}</p>
                    </a>
              </div>
              <div class="col-4 col-sm-4 col-lg-2 text-center order-2">
                <a href="{{site.data.redes.instagram}}" class="nav-link waves-effect waves-light text-center">
                  <i class="fab fa-instagram fa-2x"></i>
                  <p>Instagram</p>
                </a>
              </div>
              <div class="col-4 col-sm-4 col-lg-2 offset-lg-1 order-1 order-sm-3">
                <a href="{{site.data.redes.facebook-almagro}}" class="nav-link waves-effect waves-light text-center">
                  <i class="fab fa-facebook fa-2x"></i>
                  <p>Almagro</p>
                </a>
              </div>
              <div class="col-4 col-sm-4 col-lg-2 offset-sm-2 offset-lg-1 order-3 order-sm-4">
                <a href="{{site.data.redes.facebook-boedo}}" class="nav-link waves-effect waves-light text-center">
                  <i class="fab fa-facebook fa-2x"></i>
                  <p>Boedo</p>
                </a>
              </div>
              <div class="col-7 col-sm-4 col-lg-3  text-center order-5">
                <a href="mailto:ejemlo@gmail.com" class="nav-link waves-effect waves-light ">
                  <i class="fa fa-envelope fa-2x fa-fw"></i>
                  <p>{{site.data.redes.mail}}</p>
                </a>
              </div>
            </div>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright - Todos los derechos reservados - Diseñado por JavFr
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
