---
layout: compress
---

<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <title>{{ site.name }} | {{ page.subtitle }}</title>

    <!--Meta Tags-->
    {% include meta.html %}

    <!--Material Bootstrap-->
    {% include mdb.html %}

    <!--Inline CSS-->
    <style type="text/css">
      {% capture include_to_scssify %}
        {% include inline.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}!important
    </style>

    <!--RSS FEED-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />

  </head>

  <body data-spy="scroll" data-target="#navbar-scrollspy" data-offset="200">
    <header>
      {% if page.title == "galeria" or page.title == "equipo" or page.title == 'home' %}
        {% include navbar.html %}
      {% else %}
        {% include static-navbar.html %}
      {% endif %}
      {% if page.title == 'home' %}
        {% include jumbo.html %}
      {% endif %}

    </header>
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    {% include footerScripts.html %}
  </body>
</html>
