---
layout: default
---
<div class="container">
    <div class="gallery">
        <h1 class="animated fadeIn">Galeria</h1>
        <ul class="gallery__list px-0 ">
            {% for img in site.galeria %}
            <li class="animated fadeIn delay-2s ">
                <figure>
                    <img tabindex="2" src="//images.weserv.nl/?url={{site.url}}{{img.imagen}}&w=600" alt="{{img.pie}}" onerror="this.src='{{site.url}}{{img.imagen}}'" onclick="openModal();currentSlide({{img.title}})" class="hover-shadow">
                </figure>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- The Modal/Lightbox -->
</div>
<div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            {% for img in site.galeria %}
            <div class="mySlides py-auto justify-content-center">
            <img class="align-self-center" src="//images.weserv.nl/?url={{site.url}}{{img.imagen}}&w=1300" onerror="this.src='{{site.url}}/{{img.imagen}}'" style="max-height:100vh; max-width: 100vw; margin: auto;">
            </div>
            {% endfor %}
        
            <!-- Next/previous controls -->
            <a class="prev text-white" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next text-white" onclick="plusSlides(1)">&#10095;</a>
        
            <!-- Caption text -->
            <div class="caption-container">
            <p id="caption"></p>
            </div>  
            
        </div>
</div>
