---
layout: default
---
<style>
/*Masonsry*/

.grid-sizer{
    display: none;
}
</style>
<div class="container ">
    <div>
        <h1 class="animated fadeIn">Galeria</h1>
            <div id="lightbox" class="grid my-gallery" style="max-height: 100%;" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="grid-sizer col-12 col-sm-6 col-md-4"></div>
                {% assign pid = 0 %}
                {% for img in site.galeria %}
                <div class="grid-item col-12 col-sm-6 col-md-4 my-3">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-pid="{{pid}}">
                        <a href="{{site.url}}{{img.imagen}}" itemprop="contentUrl" data-size="{{img.size}}">
                            <img src="//images.weserv.nl/?url={{site.url}}{{img.imagen}}&w=600" class="img-fluid" itemprop="thumbnail" alt="{{img.pie}}" />
                        </a>
                    </figure>
                </div>
                {% assign pid = pid | plus: 1 %}
                {% endfor %}                         
            </div>
        </div>
    <!-- The Modal/Lightbox -->
</div>
