---
layout: default
---
<div class="container my-5 py-5">
{% for profesor in site.equipo %}
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4 wow zoomIn delay-1s">
        <!-- Grid row -->
        <div class="row align-items-center justify-content-center">

          <!-- Grid column -->
          <div class="col-lg-4 offset-md-1 mx-3 my-3">
      
            <!-- Featured image -->
            <div class="">
              <img src="//images.weserv.nl/?url={{site.url}}{{profesor.imagen}}&w=300&h=300" onerror="this.src='{{site.url}}/{{profesor.imagen}}'" class="img-fluid" alt="Fotografía de {{ profesor.nombre }}">
            </div>
      
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-7 text-md-left ml-3 mt-3">
      
            <!-- Excerpt -->
      
            <h4 class="h4 mb-4">{{ profesor.nombre }}</h4>

            <p>{{ profesor.subtitulo }}</p>
      
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 text-left">
            <p class="font-weight-normal">{{ profesor.content }}</p>
          </div>
        </div>
      
      </div>
      <!-- News jumbotron -->  
{% endfor %}
</div>
